<div id="wrapper">
  <div class="overlay"></div>
  <%= render "components/sidebar" %>
  <div id="page-content-wrapper">
    <div class="position-fixed w-100 z-index-1">
      <%= render "components/navbar" %>
    </div>
    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>

    <div class="container pt-5">
      <div class="col-md-7 mx-auto pt-3">
        <div class="shadow-sm bg-light border rounded-3 border-2 p-2">
          <h1 class="text-center text-main-color space-1">New Service</h1>
          <%= render 'form', service: @service %>
          <%= link_to 'Back', dashboard_index_path %>
        </div>

      </div>

    </div>
  </div>
</div>
