<%= render "components/navbar" %>
<div id="wrapper">
  <div class="overlay"></div>
  <%= render "components/sidebar" %>
  <div id="page-content-wrapper">
    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <div class="container border bg-light h-screen">
      <h1 class="py-4 text-center">Editing Announcement</h1>
      <%= render 'form', announcement: @announcement %>
    </div>

  </div>
</div>
