<footer class="pt-4 bg-footer text-white">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <h4 class="space-1">Links</h4>
          <li class="nav-item">
            <a class="list" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="list" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="list" href="#">Team</a>
          </li>
          <li class="nav-item">
            <a class="list" href="#">Contact us</a>
          </li>
      </div>
      <div class="col">
        <h4 class="space-1">Our Address</h4>
        <address>
          Kigali,Rwanda<br>
          Ndamage house,first floor<br>
          KN03 st<br>
          <i class="fa fa-phone fa-lg"></i>  +250 788 827 582<br>
          <i class="fa fa-fax fa-lg"></i>  <br>
          <i class="fa fa-envelope fa-lg"></i> <a href="mailto:confusion@food.net">tphilos2020@gmail.com</a>
       </address>
      </div>
      <div class="col">
        <h4 class="space-1">Social media</h4>
          <div class="text-white w-100">
              <a class="btn btn-social-icon btn-google text-white"  href="http://google.com/+"><i class="fab fa-google-plus"></i> Philos MC Ltd</a>
              <a class="btn btn-social-icon btn-facebook text-white"  href="http://www.facebook.com/profile.php?id="><i class="fab fa-facebook"></i> Philos MC Ltd</a>
              <a class="btn btn-social-icon btn-linkedin text-white"  href="http://www.linkedin.com/in/"><i class="fab fa-linkedin"></i> Philos MC Ltd</a>
              <a class="btn btn-social-icon btn-twitter text-white"  href="http://twitter.com/"><i class="fab fa-twitter"></i> @Philosmcltd</a>
              <a class="btn btn-social-icon btn-google text-white"  href="http://youtube.com/"><i class="fab fa-youtube"></i> Philos MC Ltd</a>
              <a class="btn btn-social-icon text-white " href="mailto:"><i class="fab fa-email"></i> tphilos2020@gmail.com</a>
          </div>
      </div>

    </div>
    <div class="row justify-content-center border-top">
        <div class="col-auto py-2">
            <p>© Copyright 2020 PHILOS MC LTD</p>
        </div>
   </div>
  </div>

</footer>
