<div class="position-fixed w-100">
  <%= render "components/navbar" %>
</div>
<div class="container pt-5">
  <div class="pt-5">
    <div class="my-4 col-md-6 border rounded-3 shadow-sm bg-light text-center p-4 mx-auto">
      <div class="col-md-4 mx-auto">
        <%= image_tag('philos logo.png', class:"w-100") %>
      </div>
      <h1 class="fw-light space-1 text-main-color">Congratulations</h1>
      <p>Thank you for your interest in Philos MC Ltd. Your application has been successfully received by evaluation team. We will contact you after reviewing your information. Keep an eye on your email and make sure your phone number is available for further updates!!! </p>

      <small>Any question please reach to us at <a class="text-decoration-none" href="mailto:tphilos2020@gmail.com?subject=feedback">Our Email address</a> </small>
    </div>
  </div>
</div>
