/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .no-decoration{
   text-decoration: none;
   color: inherit;
 }
.navbar{
  background-color: #0077B6;
}

.w-100{
  width: 100%;
}
.h-25{
    min-height: 25vh;
    max-height: 25vh;
}
.h-50{
    min-height: 50vh;
    max-height: 50vh;
}
.h-75{
    min-height: 75vh;
    max-height: 75vh;
}
.h-100{
    min-height: 100vh;
    max-height: 100vh;
}
.h-full{
  height: 100%;
}
.bg-repair{
  background-image: url('pc repair.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.bg-software{
  background-image: url('software.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.bg-support{
  background-image: url('support.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
